.container {
	display: grid;
	grid-template-columns: 250px 1fr;
	background-color: #0d1115;
}

.profilesList {
	padding-right: 7vw;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 40px;
	column-gap: 40px;
	justify-content: center;
	align-items: center;
}

.profile {
	position: relative;
	padding-bottom: 5px;
	width: 160px;
	background-color: #181f29;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.profile > img {
	height: 160px;
	border-radius: 20px 20px 0 0;
}

.profile:hover {
	scale: 1.05;
	transition: all 0.4s;
	cursor: pointer;
}

.onlineBtn {
	width: 8px;
	height: 8px;
	background-color: #0f1;
	border-radius: 4px;
	font-size: 10px;
}

.infosprofile {
	padding: 5px;
	text-align: center;
}

.infosprofile > div > span {
	font-weight: bold;
	font-size: 12px;
	color: white;
}

.infosprofile > span {
	font-size: 10px;
	color: #878787;
}

a {
	text-decoration: none;
	color: black;
}
