.container {
	display: grid;
	grid-template-columns: 250px 1fr;
	z-index: -1;
}

.profilesList {
	padding-right: 7vw;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 40px;
	column-gap: 40px;
	justify-content: center;
	align-items: center;
}

.profile {
	position: relative;
	padding-bottom: 5px;
	width: 160px;
	background-color: #181f29;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.profile > img {
	height: 160px;
	border-radius: 20px 20px 0 0;
}

.profile:hover {
	scale: 1.05;
	transition: all 0.4s;
	cursor: pointer;
}

.onlineBtn {
	width: 8px;
	height: 8px;
	background-color: #0f1;
	border-radius: 4px;
	font-size: 10px;
}

.infosprofile {
	padding: 5px;
	text-align: center;
}

.infosprofile > div > span {
	font-weight: bold;
	font-size: 12px;
	color: white;
}

.infosprofile > span {
	font-size: 10px;
	color: #878787;
}

a {
	text-decoration: none;
	color: black;
}

.profileNotReady {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileNotReady span {
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 100px;
}

.loading {
	font-size: 100px;
	font-weight: bold;
	animation: spin 1.3s infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 768px) {
	.container {
		display: block;
	}

	.profileNotReady {
		width: 100vw;
		height: 60vh;
	}

	.profileNotReady span {
		font-size: 16px;
		margin-bottom: 50px;
	}

	.loading {
		font-size: 60px;
	}
}

@media only screen and (max-width: 428px) {
	.profilesList {
		padding-right: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 15px;
		column-gap: 15px;
		place-items: center;
		padding: 0 10px;
	}

	.profilesList > a {
		width: 100%;
	}

	.profile {
		width: 100%;
	}

	.profile > img {
		height: 160px;
	}
}
