*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.principale{
    margin-top: 10vh;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px 80px;
}

.title{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 20px 0px;

}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 5vh;
}

.center .button{
    border: solid 1px rgb(228, 224, 224);
}

.center .button:hover{
    cursor: pointer;
    background-color: bisque;
}


.image{

    width: 80px;
    margin: 0 2vw;
}

.justinscript{
    display: flex;
    align-items: center;
    width: 70vw;
    margin: 2vh 0px;
    justify-content: space-between;
}

.justinscript p{
    font-size: x-large;
    font-weight:bold ;
}

.button{
    border: black;
    padding: 10px;
    background-color: white;
    color: palevioletred;

}

.milieu{
    width: 70vw;
    gap:5vh;
    display:  flex;
    flex-direction: row;

}

.intMilieu{
    width: 33.33%;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(57, 57, 57);
    color: white;
}

.leftside{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    text-align: justify;
}

.leftside p{
    text-align: center;
}

.p1{
    color: palevioletred;
    font-weight: bold;
    margin: 5px 0 0;
}

.leftside img{
    height: 80%;
}

.rightside{
    width: 50%;
   display: flex;
   flex-direction: column;
   padding: 3%;
   text-align: start;
   font-size: x-small;
   justify-content: space-between;
   }

.rightside button{
    border-radius: 5px;
}

.rightside button p{
    font-size: small;
}

.lastpart{
    width: 70vw;
    margin: 5vh 0;
    text-align: start;
}


.lastpart p{
    margin: 2vh 0;

}

/* ---------- -------- ---------  */

/* Styles for tablets */
@media screen and (max-width: 768px) {
    .principale {
        width: 100vw;
        margin: auto;
        padding: auto;
        padding: 20px 0px;
    }

    .title{
        display: flex;
        justify-content: center;
        color: black;
        width: 90%;

    }

    .image{

        width: 70px;
        margin: 0 2vw;
    }

    .title h1{
    font-size: x-large;
    color: black;
    }

    .justinscript p{
        font-size: large;
        font-weight:bold ;
    }

    .milieu{
        width: 90%;
        flex-direction: column;

    }

    .justinscript{
        width: 90%;
        margin: 2vh 0px;
        justify-content: space-between;
    }

    .justinscript p{
        font-size: large;
        font-weight:bold ;
    }
    .intMilieu{
        width: 100%;

    }
    .rightside{
       font-size: x-large;
       }

       .lastpart{
        width: 90%;
       }
  }

  /* Styles for smartphones */
  @media screen and (max-width: 480px) {
    .principale {
        width: 100vw;
        padding: 20px 0px;
        margin: auto;
        padding: auto;
    }
    .title{
        display: flex;
        justify-content: center;
        color: white;
        width: 90%;
    }
    .justinscript p{
        font-size: small;
        font-weight:bold ;
    }

    .image{

        width: 35px;
        margin: 0 2vw;
    }

    .title h1{
    font-size: small;
    }

    .milieu{
        width: 90%;
        flex-direction: column;
    }
    .milieu{
        width: 90%;
        flex-direction: column;
    }
    .intMilieu{
        width: 100%;
    }
    .rightside{
        font-size: small;
        }

    .lastpart{
        width: 90%;
        margin-top:4vh ;
    }

    .lastpart h1{
        font-size: large;
    }
    
    .lastpart p{
        font-size: small;
    }

  }