* {
	margin: 0;
	padding: 0;
}

body,
textarea {
	background-color: #0d1115;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hearderMobile {
	display: none;
}

@media only screen and (max-width: 768px) {
	.hearderMobile {
		display: block;
	}
}
